
<div class="toptitle">
  <h3>Cinema reviewsite prototype04</h3>

・映画紹介記事の投稿、編集、削除 <br>
・映画紹介記事に対するレビューを投稿、削除 <br>
・最新の紹介記事、レビューを表示 <br>
・レビュー評価を平均値で表示 <br>
・少しだけCSSをあてた <br>
<br>
<%= link_to 'Cinema reviews', controller: 'articles' %>
<br>
</div>
